<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.changhong.qiyuan.qiyuanapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".SubmitDownActivity" />
        <activity android:name=".usercenter.Setting.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".business.admincompany.TestActivity" />
        <activity android:name=".business.adminpark.TeatActivity" />
        <activity android:name=".business.joincompany.ApplyJoinActivity" />
        <activity android:name=".business.joincompany.ChooseParkActivity" />
        <activity android:name=".business.joincompany.ChooseCompanyActivity" />
        <activity android:name=".business.pass.AuthorityActivity" />
        <activity android:name=".business.pass.ChooseDoorActivity" />
        <activity android:name=".business.visitor.ApplyInfoActivity" />
        <activity android:name=".business.visitor.SecondApplyActivity" />
        <activity android:name=".business.monitor.MonitorInfoActivity" />
        <activity android:name=".business.monitor.ChooseCompanyActivity" />
        <activity android:name=".business.monitor.ChooseRoomActivity" />
        <activity android:name=".business.monitor.ChooseCameraActivity" />
        <activity android:name=".usercenter.adminpark.CardActivity" />
        <activity android:name=".usercenter.adminpark.FixedCarActivity" />
        <activity android:name=".usercenter.adminpark.UnfixedCarActivity" />
        <activity android:name=".usercenter.adminpark.PassActivity" />
        <activity android:name=".usercenter.Setting.AboutActivity" />
        <activity android:name=".usercenter.Setting.HelpActivity" />
        <activity android:name=".usercenter.Setting.FunctionActivity" />
        <activity android:name=".business.adminpark.maintain.RepairInfoActivity" />
        <activity android:name=".business.adminpark.maintain.RepairDetailActivity" />
        <activity android:name=".business.adminpark.maintain.RepairAccpetActivity" />
        <activity android:name=".business.adminpark.maintain.RepairReasonsActivity" />
        <activity android:name=".business.adminpark.maintain.RepairRefuseActivity"></activity>
    </application>

</manifest>